/docs
/target
/lib
/classes
/checkouts
/build
*.jar
!dependencies/*.jar
*.class
.DS_Store
.gradle
.gradletasknamecache
!gradle-wrapper.jar
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs
.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/out
/subprojects/*/*.iml
/subprojects/*/out
.svn
/bin/
*.capregion
